{% load static %}
{% include 'recipes/partials/head.html' %}

{% block content %}
{% include 'recipes/partials/header.html' %}
{% include 'recipes/partials/search.html' %}

<div class="main-content center container">
    <h2>Hi, {{user}}! Welcome to your Dashboard!</h2>

</div>
{% include 'recipes/partials/messages.html' %}
<div class=" main-content center container">
    {% include 'authors/partials/logout_message.html' %}

    <div class="author-dashboard-container">
        <h3>Your Recipes</h3>

        <ul>
            {% for recipe in recipes %}
            <li>
                <a href="{% url 'authors:dashboard_recipe_edit' recipe.id %}">{{ recipe.title }}</a>

                <form class="form-delete" action="{% url 'authors:dashboard_recipe_delete' recipe.id %}" method='POST'>
                    {% csrf_token %}
                    <button type=" submit"> Delete </button>
                </form>
            </li>
            {% empty %}
            <li>
                <p> You do not have non published recipes... please create one.</p>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
{% include 'recipes/partials/footer.html' %}
<script src="{% static 'recipes/js/scripts.js' %}"></script>
{% endblock content %}